@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050505;
    --foreground: #ffffff;
  }
}

@media (hover: hover) and (pointer: fine) {
  * {
    cursor: none !important;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  text-rendering: geometricPrecision;
}

::selection {
  background: #ef4444;
  color: #fff;
}
